html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --btn-profile: #e27d5f;
  --font: "Zen Kaku Gothic Antique", sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-color: #7ec5b5;
}
.navbar {
  margin-bottom: 50px;
}
main {
  display: block;
  text-align: center;
  margin: 20px;
}
h1,
h2,
h3,
h4,
a .btn {
  font: var(--font);
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
a,
.btn {
  font-size: 15px;
}
.btn-secondary {
  color: black;
}
.Learn,
h1 {
  margin: 30px;
}
#Profile:hover,
#Profile-Page:hover,
#Arch-port:hover,
#Code-port:hover {
  color: #e27d5f;
}
#contact:hover,
#contact-page:hover,
#arch-cv:hover,
#front-cv:hover {
  color: #40b3a2;
}
#Home:hover {
  color: #83cdce;
}
#name-z:hover {
  color: #7dc2ad;
}

.btn-profile {
  background: var(--btn-profile);
  border-radius: 20px;
  padding: 10px;
}
#zahra-image {
  border-radius: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

.btn-profile {
  background: var(--btn-profile);
  border-radius: 20px;
  padding: 10px;
}
.container-A {
  display: flex;
  padding: 20px;
}
#quali-page:hover {
  color: #e8a87c;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
